In [475]:
import pandas as pd
a = pd.read_csv('demirAnaliz.csv')
a

,Gender,Age,GLUCOSE,HBA1C,CREATININE,BUN,HGB,Ferr,TROPONIN I,CK,CK-MB,TRIGLYCERIDE,HDL CHOLESTEROL,LDL CHOLESTEROL,CRP,PCT,FT4,TSH,Disease
0,1,87,94.0,5.0,0.96,21.25,8.2,4.0,2.2,142.8,12.4,50.6,58.0,95.2,1.0,0.29,0.94,2.276,1
1,1,87,135.0,6.5,0.74,22.06,9.0,12.0,2.2,92.0,12.4,65.6,65.6,95.8,1.0,0.25,1.00,2.652,1
2,1,68,99.0,6.3,0.64,7.75,4.3,34.0,2.2,133.0,15.0,196.0,32.0,108.0,2.2,0.27,1.10,2.514,1
3,0,38,83.6,5.6,0.63,11.72,6.3,6.0,1.6,92.6,13.8,92.8,53.4,123.7,1.0,0.25,0.90,2.341,1
4,0,64,88.2,5.0,0.76,11.18,5.1,30.5,2.2,142.8,12.4,84.6,43.4,102.8,4.0,0.33,0.95,1.585,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214,0,63,93.0,5.2,1.14,17.88,7.3,37.9,4.5,117.9,21.5,291.6,45.6,60.9,5.1,0.23,0.65,2.062,1
215,0,49,97.0,5.7,1.01,16.39,7.8,34.7,0.2,192.8,21.5,145.3,31.1,106.6,16.4,0.20,0.78,1.077,1
216,1,78,171.0,5.2,0.90,19.37,6.8,41.1,3.8,97.4,19.5,58.5,53.8,132.0,4.6,0.30,0.84,1.242,1
217,0,56,112.0,5.8,0.80,14.90,4.4,31.6,0.0,77.9,15.4,63.8,33.1,112.7,4.0,0.30,0.84,1.692,1
218,1,19,83.0,5.6,0.70,17.39,7.2,36.9,0.0,61.5,11.3,112.9,46.6,86.3,16.8,0.20,0.76,6.653,1

In [485]:
a.mean()

Gender               0.219178
Age                 48.762557
GLUCOSE             95.710959
HBA1C                5.526027
CREATININE           0.773242
BUN                 14.460548
HGB                  6.395890
Ferr                28.588128
TROPONIN I           2.062100
CK                  90.459361
CK-MB               12.812785
TRIGLYCERIDE       133.762100
HDL CHOLESTEROL     47.267580
LDL CHOLESTEROL    106.506393
CRP                  3.320159
PCT                  0.275434
FT4                  0.838265
TSH                  2.075027
Disease              1.000000
dtype: float64

In [421]:
a.BUN.describe()

count    290.000000
mean      24.122759
std       13.879128
min        5.040000
25%       15.690000
50%       20.185000
75%       28.355000
max      102.380000
Name: BUN, dtype: float64

In [424]:
b = a[a.BUN > 20.5 ]
b.value_counts().sum()

118

In [425]:
a.BUN =a.BUN.apply(lambda x: x*0.5 if x > 20.5 else x)
a.BUN.describe()

count    290.000000
mean      13.972341
std        3.913042
min        4.272000
25%       11.400000
50%       13.995000
75%       16.880000
max       20.910000
Name: BUN, dtype: float64

In [315]:
a.Ferr.describe()

count    247.000000
mean     263.504049
std      119.848749
min       22.000000
25%      198.800000
50%      250.600000
75%      317.100000
max      956.800000
Name: Ferr, dtype: float64

In [317]:
b = a[a.Ferr > 610.3]
b.value_counts().sum()

5

In [322]:
a.Ferr =a.Ferr.apply(lambda x: x*0.9 if x > 68.3 else x)
a.Ferr.describe()

count    247.000000
mean     193.874630
std       50.003603
min       22.000000
25%      175.770000
50%      205.380000
75%      226.800000
max      250.614000
Name: Ferr, dtype: float64

In [439]:
a.CK.describe()

count      290.000000
mean       355.252414
std        860.212633
min         11.400000
25%         60.600000
50%        106.250000
75%        309.450000
max      10521.200000
Name: CK, dtype: float64

In [27]:
b = a[a.CK > 175]
b.value_counts().sum()

12

In [28]:
a.CK =a.CK.apply(lambda x: x*0.5 if x > 175 else x)
a.CK.describe()

count    260.000000
mean      87.553215
std       40.403019
min       10.164000
25%       51.300000
50%       87.200000
75%      119.000000
max      168.200000
Name: CK, dtype: float64

In [438]:
a['TRIGLYCERIDE'].describe()

count    290.000000
mean     131.758966
std       72.658289
min       38.000000
25%       83.850000
50%      115.000000
75%      153.925000
max      577.000000
Name: TRIGLYCERIDE, dtype: float64

In [396]:
b = a[a['TRIGLYCERIDE'] > 160.50]
b.value_counts().sum()

110

In [401]:
a['TRIGLYCERIDE'] =a['TRIGLYCERIDE'].apply(lambda x: x*0.81 if x > 140.50 else x)
a['TRIGLYCERIDE'].describe()

count    210.000000
mean     117.198566
std       20.095277
min       34.700000
25%      116.026856
50%      121.300000
75%      128.608722
max      140.353568
Name: TRIGLYCERIDE, dtype: float64

In [201]:
a['LDL CHOLESTEROL'] =a['LDL CHOLESTEROL'] + 1.206
a['LDL CHOLESTEROL'].describe()

count    268.000000
mean     118.486970
std       41.123857
min        1.206000
25%       89.256000
50%      118.306000
75%      145.206000
max      233.706000
Name: LDL CHOLESTEROL, dtype: float64

In [440]:
a['CK-MB'].describe()

count     290.000000
mean       46.064138
std       115.453777
min         4.000000
25%        13.800000
50%        17.600000
75%        42.950000
max      1148.200000
Name: CK-MB, dtype: float64

In [430]:
b = a[a['TROPONIN I'] < 3.37]
b.value_counts().sum()

3

In [437]:
a['TROPONIN I'] =a['TROPONIN I'].apply(lambda x: x*1.637 if x < 26.37 else x)
a['TROPONIN I'].describe()

count       290.000000
mean       8054.618964
std       23580.364100
min          27.300000
25%         169.000000
50%         713.300000
75%        5606.750000
max      220767.600000
Name: TROPONIN I, dtype: float64

In [52]:
a['TROPONIN I'] =a['TROPONIN I'] + 0.12
a['TROPONIN I'].describe()

count    260.000000
mean       9.586539
std        5.240341
min        0.170000
25%        5.592000
50%       10.156750
75%       13.777500
max       20.077500
Name: TROPONIN I, dtype: float64

In [53]:
a.mean()

Gender               0.507692
Age                 66.080769
GLUCOSE            121.153462
HBA1C                6.453462
CREATININE           4.592769
BUN                 53.218192
HGB                 12.995385
Ferr               152.225208
TROPONIN I           9.586539
CK                  87.553215
CK-MB               14.115923
TRIGLYCERIDE       120.261923
HDL CHOLESTEROL     38.993462
LDL CHOLESTEROL     90.134231
CRP                 57.414615
PCT                  0.221692
FT4                  1.050192
TSH                  1.631573
Disease              0.000000
dtype: float64

In [477]:
a.CRP.describe()

count    219.000000
mean       8.277169
std        7.485069
min        0.100000
25%        3.200000
50%        5.200000
75%       12.900000
max       56.000000
Name: CRP, dtype: float64

In [478]:
b = a[a.CRP > 32.2]
b.value_counts().sum()

2

In [484]:
a.CRP =a.CRP.apply(lambda x: x*0.78 if x > 4.2 else x)
a.CRP.describe()

count    219.000000
mean       3.320159
std        0.905256
min        0.100000
25%        3.200000
50%        3.588000
75%        3.955252
max        4.478822
Name: CRP, dtype: float64

In [305]:
a.CRP =a.CRP * 0.9218
a.CRP.describe()

count    247.000000
mean       4.298098
std        1.014858
min        0.234980
25%        3.758268
50%        4.299394
75%        4.971998
max        6.155290
Name: CRP, dtype: float64

In [273]:
a.FT4.describe()

count    247.000000
mean       2.096721
std        0.383731
min        1.677720
25%        1.773045
50%        1.982760
75%        2.295000
max        3.240000
Name: FT4, dtype: float64

In [271]:
b = a[a.FT4 < 2.2]
b.value_counts().sum()

196

In [310]:
a.FT4 =a.FT4.apply(lambda x: x*1.271 if x < 5.20 else x)
a.FT4.describe()

count    247.000000
mean       3.094963
std        0.306010
min        2.710258
25%        2.859331
50%        3.018242
75%        3.295463
max        4.118040
Name: FT4, dtype: float64

In [69]:
a.mean()

Gender               0.507692
Age                 66.080769
GLUCOSE            121.153462
HBA1C                6.453462
CREATININE           4.592769
BUN                 53.218192
HGB                 12.995385
Ferr               152.225208
TROPONIN I           9.586539
CK                  87.553215
CK-MB               14.115923
TRIGLYCERIDE       120.261923
HDL CHOLESTEROL     38.993462
LDL CHOLESTEROL     90.134231
CRP                  3.320588
PCT                  0.221692
FT4                  1.040231
TSH                  1.631573
Disease              0.000000
dtype: float64

In [456]:
a.GLUCOSE.describe()

count    290.000000
mean     146.442414
std       78.034367
min       58.200000
25%       95.050000
50%      115.000000
75%      169.625000
max      470.700000
Name: GLUCOSE, dtype: float64

In [463]:
b = a[a.GLUCOSE > 112.5 ]
b.value_counts().sum()

144

In [464]:
a.GLUCOSE =a.GLUCOSE.apply(lambda x: x*0.83 if x > 112.5 else x)
a.GLUCOSE.describe()

count    290.000000
mean     103.361248
std       13.195932
min       72.500000
25%       94.303750
50%      103.044500
75%      110.512120
max      133.713000
Name: GLUCOSE, dtype: float64

In [80]:
a.GLUCOSE =a.GLUCOSE *1.0389452
a.GLUCOSE.describe()

count    260.000000
mean     111.167479
std       19.427199
min       74.627434
25%       96.419309
50%      107.873680
75%      126.574694
max      154.626214
Name: GLUCOSE, dtype: float64

In [466]:
a.HBA1C.describe()

count    290.000000
mean       6.882759
std        1.882274
min        4.000000
25%        5.600000
50%        6.150000
75%        7.600000
max       13.200000
Name: HBA1C, dtype: float64

In [467]:
b = a[a.HBA1C > 8.12]
b.value_counts().sum()

54

In [470]:
a.HBA1C =a.HBA1C.apply(lambda x: x*0.82 if x > 6.12 else x)
a.HBA1C.describe()

count    290.000000
mean       5.427544
std        0.452744
min        4.000000
25%        5.244720
50%        5.400000
75%        5.700000
max        6.100000
Name: HBA1C, dtype: float64

In [358]:
a.PCT.describe()

count    210.000000
mean       0.265048
std        0.058989
min        0.090000
25%        0.220000
50%        0.265000
75%        0.310000
max        0.490000
Name: PCT, dtype: float64

In [362]:
b = a[a.PCT < 0.17]
b.value_counts().sum()

8

In [366]:
a.PCT =a.PCT.apply(lambda x: x*1.24 if x < 0.17 else x)
a.PCT.describe()

count    210.000000
mean       0.196820
std        0.018322
min        0.170000
25%        0.180000
50%        0.199640
75%        0.210000
max        0.249101
Name: PCT, dtype: float64

In [471]:
a.mean()

Gender                0.596552
Age                  64.668966
GLUCOSE             103.361248
HBA1C                 5.427544
CREATININE            1.037483
BUN                  13.972341
HGB                  13.163793
Ferr                110.713793
TROPONIN I         8054.618964
CK                  355.252414
CK-MB                46.064138
TRIGLYCERIDE        131.758966
HDL CHOLESTEROL      43.189655
LDL CHOLESTEROL     106.993448
CRP                   3.365358
PCT                   0.234517
FT4                   0.999552
TSH                   1.768372
Disease               6.000000
dtype: float64

In [486]:
data_sum = a

In [487]:
data_sum.GLUCOSE = data_sum.GLUCOSE.round(1)
data_sum.HBA1C = data_sum.HBA1C.round(1)
data_sum.CREATININE = data_sum.CREATININE.round(2)
data_sum.BUN = data_sum.BUN.round(2)
data_sum.HGB = data_sum.HGB.round(1)
data_sum.Ferr = data_sum.Ferr.round(1)
data_sum['TROPONIN I'] = data_sum['TROPONIN I'].round(1)
data_sum.CK = data_sum.CK.round(1)
data_sum['CK-MB'] = data_sum['CK-MB'].round(1)
data_sum.TRIGLYCERIDE = data_sum.TRIGLYCERIDE.round(1)
data_sum['HDL CHOLESTEROL'] = data_sum['HDL CHOLESTEROL'].round(1)
data_sum['LDL CHOLESTEROL'] = data_sum['LDL CHOLESTEROL'].round(1)
data_sum.CRP = data_sum.CRP.round(1)
data_sum.PCT = data_sum.PCT.round(2)
data_sum.FT4 = data_sum.FT4.round(2)
data_sum.TSH = data_sum.TSH.round(3)

In [488]:
a.to_csv('demirAnaliz2.csv', index=False)

In [489]:
df = pd.read_csv('2AugustEski.csv')
df

,Gender,Age,GLUCOSE,HBA1C,CREATININE,BUN,HGB,Ferr,TROPONIN I,CK,CK-MB,TRIGLYCERIDE,HDL CHOLESTEROL,LDL CHOLESTEROL,CRP,PCT,FT4,TSH,Disease
0,1,47,87.3,5.0,4.95,27.52,9.5,173.4,6.8,62.9,7.1,98.8,48.3,101.9,1.2,0.24,0.81,3.840,0
1,1,64,75.2,5.1,1.57,39.00,12.2,140.7,14.2,70.0,6.5,160.0,20.0,75.0,2.1,0.12,0.60,1.472,0
2,1,74,102.9,3.6,6.14,99.88,9.9,189.6,13.7,115.0,22.2,141.0,28.0,67.0,6.2,0.20,1.20,1.944,0
3,1,58,89.0,3.6,7.07,66.31,11.1,158.0,15.1,61.9,16.4,79.4,27.3,65.9,3.2,0.21,1.07,2.644,0
4,1,46,93.3,5.2,3.67,20.62,11.7,141.6,14.2,127.6,13.2,149.0,40.0,117.0,8.5,0.32,1.00,1.332,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2264,1,65,93.0,4.9,0.64,12.70,13.7,179.9,14.3,92.9,7.3,90.0,48.7,102.3,2.9,0.29,0.60,1.001,8
2265,0,80,78.4,4.9,0.62,9.13,14.3,35.9,0.7,74.9,19.2,86.1,42.0,99.1,3.3,0.30,0.75,1.874,8
2266,1,74,80.0,4.9,0.80,18.79,14.1,86.9,8.7,48.0,17.4,103.0,43.9,97.4,2.1,0.21,1.24,2.513,8
2267,1,81,125.8,3.7,0.59,8.98,14.7,132.5,14.0,85.2,17.4,112.0,47.3,127.1,3.4,0.30,0.63,3.413,8
2268,0,75,118.0,5.1,0.91,16.17,14.3,163.6,7.4,88.0,8.6,129.0,55.2,97.4,4.6,0.19,0.58,2.636,8

In [490]:
df.rename(columns={"TROPONIN I":"TROPONIN_I", "CK-MB": "CK_MB", "HDL CHOLESTEROL" : "HDL_CHOLESTEROL", "LDL CHOLESTEROL": "LDL_CHOLESTEROL"}
         , inplace=True)
df.head()

,Gender,Age,GLUCOSE,HBA1C,CREATININE,BUN,HGB,Ferr,TROPONIN_I,CK,CK_MB,TRIGLYCERIDE,HDL_CHOLESTEROL,LDL_CHOLESTEROL,CRP,PCT,FT4,TSH,Disease
0,1,47,87.3,5.0,4.95,27.52,9.5,173.4,6.8,62.9,7.1,98.8,48.3,101.9,1.2,0.24,0.81,3.840,0
1,1,64,75.2,5.1,1.57,39.00,12.2,140.7,14.2,70.0,6.5,160.0,20.0,75.0,2.1,0.12,0.60,1.472,0
2,1,74,102.9,3.6,6.14,99.88,9.9,189.6,13.7,115.0,22.2,141.0,28.0,67.0,6.2,0.20,1.20,1.944,0
3,1,58,89.0,3.6,7.07,66.31,11.1,158.0,15.1,61.9,16.4,79.4,27.3,65.9,3.2,0.21,1.07,2.644,0
4,1,46,93.3,5.2,3.67,20.62,11.7,141.6,14.2,127.6,13.2,149.0,40.0,117.0,8.5,0.32,1.00,1.332,0

In [491]:
df.to_csv('2August.csv', index = False)